<header>
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
      <div class="unit one-quarter hide-on-mobiles" >
        <img id='logo' src="/images/gear-256px-color.png"> 
      </div>
         
    <div class="unit three-quarters">
      <h1 id="maintitle" class="hide-on-mobiles">Machinekit</h1>
      <h1 id="maintitle-mobile" class="show-on-mobiles">Machinekit</h1>
       <nav class="main-nav hide-on-mobiles">
         {% include primary-nav-items.html %}
       </nav>
    </div>
  </div>
</header>
