<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.about %}current{% endif %}">
    <a href="/about/">About</a>
  </li>
  <li class="{% if page.url contains '/community/' %}current{% endif %}">
    <a href="/community/home">
      <span class="hide-on-mobiles">Community</span>
      <span class="show-on-mobiles">Community</span>
    </a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/">
      <span class="hide-on-mobiles">Documentation</span>
      <span class="show-on-mobiles">Docs</span>
    </a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="http://blog.machinekit.io/">Blog</a>
  <li>
  <li>
    <a href="{{ site.repository }}">GitHub</a>
  </li>
  <li>
    {% include search-bar.html %}
  </li>
  <li>
    {% include sandbox.html %}
  </li>
  <li>
    {% include edit-me.html %}
  </li>
</ul>


