<script>
    (function() {
        var cx = '013132401186084955638:hpvljajpulu';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>

<search-bar>
    <form action="" method="GET">
      <input class="input" name="q" size="10" placeholder="Search Site...">
    </form>
</search-bar>

<gcse:searchresults-only></gcse:searchresults-only>