<search-bar>
  <div class="grid">
    <div class="unit align-left center-on-mobiles">
      <p>
        <div class="top-search">
        <form method="get" id="searchform" id="searchbox_013132401186084955638:hpvljajpulu" action="http://machinekit.io/search-result.html">
        <div>
        <input value="013132401186084955638:hpvljajpulu" name="cx" type="hidden"/>
        <input value="FORID:11" name="cof" type="hidden"/>
        Search:<BR>
        <input type="text" value="" name="s" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" />
        </div>
        </form>
        </div>
      </p>
    </div>
  </div>
</search-bar>
