<script>
  (function() {
    var cx = '013132401186084955638:hpvljajpulu';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();

</script>

<search-bar>
  <div class="grid">
    <div class="unit align-left center-on-mobiles">
      <p>
        <div class="top-search">
	<gcse:searchbox-only></gcse:searchbox-only>
        </div>
      </p>
    </div>
  </div>
</search-bar>
